a {
	text-decoration: none;
}

html,
body {
	/*overflow-x: hidden;
	overflow-y: visible;*/
	max-width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	color: #323340;
	background: #f5f6fb;
	font-family: $mainFont;
	font-size: 16px;
}

.main {
	flex-grow: 1;
}

.container {
	box-sizing: border-box;
	width: 1240px;
	max-width: 95%;
	max-width: calc(100% - 39px * 2);
	margin: 0 auto;
}

#jGrowl {
	z-index: 999999;
}

*:focus {
	outline: none;
}

.hide {
	display: none;
}

